* {
    margin: auto;
    padding: auto;
}

/* <weight>: Use a value from 200 to 900
// <width>: Use a value from 75 to 125
// <uniquifier>: Use a unique and descriptive class name */

html, body {
    cursor: url("cursor.ico"), default;
}

body {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 75;
    background-color: #fdeed9;
    scroll-behavior: smooth;
}

.navbar{
    background-color: #B0183D;
    width: 100%;
    height: 100px;
    display: flex;
    align-content: left;
    position: fixed;
    margin: auto;
    top: 0;
    z-index: 1;
}

.logo{
    padding: 5px;
    height: 90px;
}

.navlinks{
    list-style: none;
    display: flex;
}

.links {
    padding: 32px;
    transition: ease-in .2s;
}

.rlinks {
    text-decoration: none;
    color: white;   
}

.links:hover {
    background-color: #8c102f;
    transform: scale(1.2);
}

.content {
    margin-top: 100px;
    align-items: center;
}

.titlescreen {
    height: 100vh;
    background-image: linear-gradient(rgba(252, 237, 216, 0.6)), url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
    box-shadow: 10px 35px 70px rgba(0, 0, 0, 0.6) inset;
}

.titlescreen img {
    height: 300px;
    transition: transform .8s;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
    padding-top: 20px;
    padding-bottom: 30px;
}

.titlescreen img:hover {
    transform: scale(1.2);
    
}

.banner {
    background-image: url('banner.jpg');
    background-size: cover;
    width: 100%;
    height: 310px;
    background-repeat: no-repeat;
    text-align: center;
}

.about {
    padding: 50px 50px 50px 120px;
    background-color: #B0183D;
    color: #ffd464;
    font-size: 25px;
}

hr {
    border-color: #ffd464;
    border-width: 2px;
    border-top: 1px solid #ccc;
}